@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.logo {
        font-size: larger;
}

.nav-outer {
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    height: 8vh;
}
.logo-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
}
.nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 4vw;
}
.nav > li {
    list-style: none;
    font-size: larger;
}

.nav > li:last-child {
    margin-right: 5vw;
}
.navlinks {
    text-decoration: none;
    color: inherit;
}
